* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

ul{  
    padding-left: 0;
    list-style: none; 
}


a{
    color: #6f42c1;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #4e2d89;
    text-decoration: none;
}


h1,h2,h3,h4,h5{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

p{
    margin-bottom: 30px;
}


/* Container and Row */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}



.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}




/* All Buttons */
.covid-button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 30px;
    color: #fff;
    background-color: #6f42c1;
    transition: all;
    transition-duration: 0.3s;
}

.covid-button:hover{
    background-color:  #8e79b4;
}



/* sections */
.site-section {
    padding: 50px 0
}




/* Header */

.site-logo {
    font-size: 20px;
    font-weight: 700
}

/* navbar */

.bdu-header {
    display: flex;
    margin-top: 20px;
    z-index: 1999;
    position: absolute;
    top: 0;
    width: 100%;
}


.bdu-header .header-nav .site-menu>li {
    display: inline-block
}

.header-nav {
    text-align: right;
}


.site-menu{
    margin-left: 30px;
}

.dropdown {
    visibility: hidden;
    position: absolute;
    text-align: left;
    border-top: 2px solid #6f42c1;
    padding: 0 0;
    margin-top: 20px;
    margin-left: 0;
    background: #fff;
    transition-duration: 0.3s;
}



.dropdown a {
    text-transform: none;
    letter-spacing: normal;
    transition: 0s all;
    color: #000
}


.dropdown>li>a {
    padding: 9px 20px;
    display: block
}

.dropdown>li>a:hover {
    background: #eff1f3;
    color: #000
}

.nav-link{
    margin: 0px 10px;
    text-decoration: none;
}

.nav-link:hover{
    text-decoration: none;
}

.bdu-header .header-nav .site-menu .has-children:hover>.dropdown {
    margin-top: 0;
    visibility: visible;
}


.header-items {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1 0 80%;
}





/* Slider */
.slider {
    padding: 8rem 0;
    background: rgba(111, 66, 193, .1);
    overflow: hidden;
    border-bottom-right-radius: 50%
}

.exam-slider {
    align-items: center;
}

.exam-left,
.exam-right {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 50%;
}

.exam-left{
    margin-left: -15px;
}

.exam-left span {
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(111,66,193,.5);
    letter-spacing: .1rem;
    font-weight: 900;
}

.exam-left h1 {
    font-weight: 900;
    color: #6f42c1;
    font-size: 40px;
    margin-bottom: 30px;
}

.slider .exam-image {
    position: absolute;
    margin-top: -100px;
}


/* Statistic section */

.coronastat-heading{
    font-size: 30px;
    font-weight: 900;
    color: #6f42c1;
}

.corona-text{
    margin-bottom: 30px;
}

.corona-content{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; 
    text-align: center;
}

.corona-data{
    display: flex;
    justify-content: space-between;
}

.number{
    display: block;
    font-size: 2rem;
    color: #000;
    font-weight: 900;
}

.data span{
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    
}


.label{
    padding-right: 15px;
    padding-left: 27px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1rem;
    font-weight: 700;
    text-align: center;
}


/* What is corona */

.what-is{
    margin-left: 10px;
    padding-right: 15px;
    padding-left: 15px; 
    flex: 0 0 42%;
}

.whatis-heading{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 900;
    color: #6f42c1;
}

.what-ul{
    margin-bottom: 40px;
}

.whatis-text{
    margin-bottom: 20px;
}

/* feature */

.feature{
    padding-right: 15px;
    padding-left: 15px; 
    flex: 0 0 25%;
}

.feature-v1 h3 {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 0;
    color: #6f42c1
}

.feature-v1 span {
    color: #aaa
}

.feature-v1 .icon-wrap {
    font-size: 2.5rem
}



/* Section back */
.beauty{
    background: rgba(111, 66, 193, .05)
}



/* Prevents section */
.all-prevents{
    display: flex;
    align-items: center; 
}


.precontent{
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 4px 5px 3px 3px rgb(177, 163, 163);
}

.precontent .icon-wrap{
    height: 140px;
    width: 100%;
    background: #6f42c1;
    text-align: center;
    position: relative;
}


.prevent-advice, .first-block, .second-block{
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 50%;
}

.first-block{
    margin-top: 60px;
}

.prevent-content{
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 42%;
    margin-left: auto;
}

.prevent-heading{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 900;
    color: #6f42c1;
}

.prevent-text{
    margin-bottom: 40px;
}


/* Images */
.images {
    max-width: 100%;
    height: auto;
 }


/* Protect section */
.protect-title{
    margin-bottom: 50px;
}

.ptitle{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; 
    text-align: center;
}

.protect-heading{
    margin-bottom: 40px;
}

.protect-advices, .protect-advices-do, .protect-advices-dont, .protect-image{
    padding-right: 15px;
    padding-left: 15px; 
    flex: 0 0 50%;
}

.padvices{
    margin-top: 50px;
    padding-top: 50px;
}


/* Symptoms section */

.symp-title{
    margin-bottom: 50px;
    
}

.symptoms-title{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; 
    flex: 0 0 50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.symp-heading{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 900;
    color: #6f42c1;
}
  

.symp-content{
    display: flex;
    width: 100%;
    padding: 30px;
    flex: 0 0 50%;
    margin-bottom: 40px;
    background: #fff;
}

.symp-text h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.symp-text{
    font-size: 10px;
}


.symp-all-comments{
    justify-content: center;
}

.symp-commmet{
    padding-right: 15px;
    padding-left: 15px; 
    flex: 0 0 83%;
}

.comment{
    padding-right: 15px;
    padding-left: 15px; 
    flex: 0 0 66%;
    margin-bottom: 40px;
}

.symp-button{
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 33%;
    text-align: right;
}



/* News Section */
.news-title{
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 58%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.news-heading{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 900;
    color: #6f42c1;
}

.news-content{
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 33%;
}

.news-desc{
    text-align: center;
}



/* footer */
.site-footer {
    padding: 4em 0
}

.covid-footer-title{
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 33%;
}

.footer-heading{
    margin-bottom: 40px;
}


.footer-content{
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 66%;
}

.footer-link{
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 33%;
}


.site-footer p {
    color: #000
}

.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
    color: #000
}

.site-footer a {
    font-weight: 700
}

.site-footer a:hover {
    color: #000;
    text-decoration: none
}

.site-footer ul li {
    margin-bottom: 10px
}

.footer-heading{
    margin-bottom: 40px;
}

footer-list{
    padding-left: 0;
    list-style: none; 
}

.site-footer .footer-heading {
    font-size: 16px;
    color: #000;
}

.trade-mark{
    text-align: center;
}

.tmark{
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    margin-top: 20px;
}